@model Dev.App.ViewModels.ProspectViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProspectViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Competition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Competition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.International)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.International)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutomaticPhase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutomaticPhase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutomaticStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutomaticStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opening)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opening)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstBriefing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstBriefing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstProposal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstProposal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedSale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedSale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryJob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryJob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstSale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstSale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValueEstimated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValueEstimated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValueProposal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValueProposal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValueApproved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValueApproved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValueSold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValueSold)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
